name: test
on:
  push:
    workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
        - name: Checkout the repository
          uses: actions/setup-java@v3
        - name: Setup JDK
          uses: actions/setup-java@v1
          with:
            java-version: 18
        - name: Build
          run: mvn --batch-mode -DskipTests package
        - name: Test
          run: mvn --batch-mode - Dmaven.test.failure.ignore=true test
        - name: Report
          uses: dorny/test-reporter@v1
          if: always()
          with:
            name: Maven Tests
            path: target/surefire-reports/*.xml
            reporter: java-junit
            fail-on-error: true
